/* Custom styles for tic tac toe interface */

body {
    font-family: 'Share Tech Mono', monospace !important;
    background-color: mediumseagreen;
}

td {
  width: 200px;
  height: 200px;
}

#start {
    width: 220px;
    height:75px;
}
