/* Custom styles for tic tac toe interface */

body {
    font-family: 'Share Tech Mono', monospace !important;
    background-color: mediumseagreen;
}

td {
  width: 200px;
  height: 200px;
}

.far {
    color: forestgreen;
}

.fas {
    color: seagreen;
}

#start {
    width: 275px;
    height:75px;
}

#playerName,
#playerPiece {
    background-color: lightgreen;
    width: 275px;
}
